{% extends 'base.html' %}
{% block body %}nt="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: crimson;
        }
        body{
            display: grid;
            font-size:24px;
        }
        .user-container{
            text-align: center;
        }
        .user-pic{
            border-radius: 50%;
            height: 170px;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
        .user-name{
            font-style: italic;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <!-- mustache -->
    {% for user in users %}
    <div class="user-container">
      <img class="user-pic" src="{{user.pic}}" alt="Profile picture" />
      <p class="user-msg">
            Hello, <span class="user-name">{{user.name}} {% if user.pro %} 🚀  {% else %} 🎊 {% endif %} </span>
      </p>
    </div>
    {% endfor %}
{% endblock body %}