<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Log in:</h1>
    <!-- you do not need to specify the action meand you are refering
    to the same url but the post of it-->
    <form action="" method="post">
        <!-- hidden field with token -->
        {{form.hidden_tag()}}

        {% if form.username.errors %}
        {% for error in form.username.errors  %}
            <div style="color:red">
                {{error}}
            </div>

        {% endfor %}
         {% endif %}

        {% if form.password.errors %}
        {% for error in form.password.errors  %}
            <div style="color:red">
                {{error}}
            </div>

        {% endfor %}
         {% endif %}

        {{form.username.label}}: {{form.username(placeholder="username")}}

        <!-- how to add classes -->
        <!-- {{form.username.label, class=""}}: {{form.username(placeholder="username", class="")}} -->
        </br>
        {{form.password.label}}
        {{form.password(placeholder="password")}}
        </br>
        {{form.submit()}}
</body>
</html>